*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-high) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 55%;
  }
}

body {
  box-sizing: border-box;
  height: 100%;
}
