$light-green-1: #6fda44;
$light-green-2: #37a000;
$light-green-3: #3da342;
$light-green-4: #5bbc2e;
$light-green-5: #5cb22f;

$dark-green-1: #008329;

$dark-blue-1: #1d4354;
$dark-blue-2: #2b5468;
$dark-blue-3: #336278;

$gray-1: #f9f9f9;
$gray-2: #656565;
$gray-3: #f2f2f2;

$red-1: #f3756c;

$orange-1: #e6a01e;

$blue-1: #4285f4;

$white: #fff;
$black: #000;

$bp-mega: 90.62em; // 1450/16 = 90.62em, 1em = 16px
$bp-mega-high: 87.5em; // 1400/16 = 87.5em, 1em = 16px
$bp-mega-semi: 81.25em; // 1300/16 = 81.25em, 1em = 16px

$bp-mega-medium: 84.37em; // 1350/16 = 84.375‬em, 1em = 16px

$bp-largest: 75em; // 1200/16 = 75em, 1em = 16px
$bp-large: 68.75em; // 1100/16 = 68.75em, 1em = 16px

$bp-high: 62.5em; // 1000/16 = 62.5em, 1em = 16px
$bp-medium: 56.25em; // 900/16 = 56.25em, 1em = 16px
$bp-semi: 50em; // 800/16 = 50em, 1em = 16px
$bp-semi-medium: 43.75em; // 700/16 = 43.75em, 1em = 16px
$bp-small: 37.5em; // 600/16 = 37.5em, 1em = 16px
$bp-smallest: 31.25em; // 500/16 = 31.25em, 1em = 16px
$bp-minimal: 25em; // 400/16 = 25em, 1em = 16px

$font-name: "Poppins";
$font-size: 1.6rem;
