.google-button {
  border: 1px solid $blue-1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    padding: 1rem 1.5rem;
    color: darken($blue-1, 20%);
  }

  &__text {
    background-color: $blue-1;
    color: $white;
    display: inline-block;
    padding: 1rem 3rem;
    flex: 1;

    font-size: 1.4rem;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
