.upwork-password {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $gray-3;
  //   padding: 10rem;
  height: 80vh;

  @media only screen and (min-height: 800px) {
    height: 90vh;
  }

  &__box {
    width: 50rem;

    @media only screen and (max-width: $bp-smallest) {
      width: 95%;
    }

    background-color: $white;
    margin: 10rem 0rem;

    padding: 4rem 8rem;

    @media only screen and (max-width: $bp-smallest) {
      padding: 4rem 2rem;
    }
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 0.5rem 1rem rgba($color: $black, $alpha: 0.3);
  }

  &__heading {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  &__email {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  &__checkbox-forget {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;

    &__text {
      font-size: 1.3rem;
      color: $light-green-3;
    }
  }

  &__login-btn {
    padding: 0.7rem 3rem;
    width: 70%;
    margin-bottom: 2rem;
  }

  &__not-you-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: $dark-green-1;
  }
}
