.navbar {
  padding: 1rem 15rem;
  position: fixed;
  top: 0;
  background-color: $white;
  // height: 10rem;
  width: 100%;
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 0.1rem 0.6rem rgba($black, 0.5);

  @media only screen and (max-width: $bp-mega-high) {
    padding: 1rem 9rem;
  }

  @media only screen and (max-width: $bp-high) {
    padding: 1rem 8rem;
  }

  @media only screen and (max-width: $bp-semi-medium) {
    padding: 1rem 1rem;
  }

  @media only screen and (max-width: $bp-medium) {
    // flex-direction: column;
    justify-content: space-around;
  }

  @media only screen and (max-width: $bp-minimal) {
    justify-content: flex-start;
  }

  .mobile-nav {
    &__icon {
      display: none;
      font-size: 3rem;
      cursor: pointer;
      margin-right: 2rem;
      @media only screen and (max-width: $bp-medium) {
        display: block;
        // z-index: 1000;
      }
    }

    &__exit-icon {
      color: $light-green-2;
      font-size: 3rem;
      cursor: pointer;
    }

    &__toggler {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $white;
      height: 100vh;
      // min-height: -webkit-fill-available;
      width: 0%;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: $bp-medium) {
        display: block;
        // z-index: 1000;
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__header {
      padding: 2rem 2rem;
      display: flex;
      align-items: center;
    }

    &__logo {
      flex: 1;
      justify-content: center;
      img {
        height: 4rem;
      }
      display: flex;
    }

    &__input {
      height: 4rem;

      border: 1px solid darken($color: $gray-1, $amount: 10%);
      padding: 2rem 2rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2rem 2rem;

      input {
        width: 85%;

        font-family: inherit;

        font-size: 1.5rem;
        border: none;

        @media only screen and (max-width: $bp-minimal) {
          width: 80%;
        }

        &:focus {
          outline: none;
        }
        &::-webkit-input-placeholder {
          // font-weight: 500
        }
      }
    }

    &__links {
      padding: 2rem 2rem;
      flex: 2;
      // margin-bottom: 3rem;
      overflow-y: auto;
    }

    &__link {
      border-top: 1px solid rgba($color: $gray-2, $alpha: 0.2);
      padding: 2rem 0;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      color: $black;

      &:hover {
        color: $light-green-2;
      }

      &-title {
        display: flex;
        justify-content: space-between;
      }

      &-list {
        margin-left: 5rem;
      }
    }

    &__sign-up {
      background-color: $white;
      // position: absolute;
      // bottom: 0;
      // left: 0;

      padding: 2rem 2rem;
      text-align: center;
      width: 100%;
      box-shadow: 0 -1px 0.6rem 0 rgba($black, 0.3);

      &-btn {
        padding: 1rem 3rem;
        cursor: pointer;
        border-radius: 0.1rem;
        margin-bottom: 0;
      }
    }
    &__checkbox {
      display: none;
      // z-index: 1000;
    }

    // &__checkbox:checked ~ &__container {
    //   width: 100%;
    //   background-color: red;
    // }

    // .mobile-nav__checkbox:checked ~ .mobile-nav__toggler {
    //   @media only screen and (max-width: $bp-medium) {
    //     width: 100%;
    //   }
    // }
  }

  &__logo {
    display: flex;
    img {
      height: 3.5rem;

      @media only screen and (max-width: $bp-small) {
        height: 3rem;
      }

      @media only screen and (max-width: $bp-minimal) {
        height: 3.5rem;
      }
    }

    @media only screen and (max-width: $bp-minimal) {
      margin-right: auto;
    }

    margin-right: 3rem;
  }

  &__input {
    height: 4rem;
    width: 38rem;
    border: 1px solid darken($color: $gray-1, $amount: 10%);
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;

    @media only screen and (max-width: $bp-medium) {
      margin-right: 0;
    }

    @media only screen and (max-width: $bp-small) {
      height: 3rem;
    }

    @media only screen and (max-width: $bp-minimal) {
      display: none;
      padding: 2rem 1rem;
      width: 25rem;

      .fa-search {
        display: none;
      }
    }

    input:focus & {
      border-width: 2px;
    }

    input {
      width: 73%;
      font-family: inherit;

      font-size: 1.5rem;
      border: none;

      @media only screen and (max-width: $bp-minimal) {
        width: 90%;
      }

      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder {
        // font-weight: 500
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    .only-large-devices {
      @media only screen and (max-width: $bp-mega-semi) {
        display: none;
      }
    }

    @media only screen and (min-width: $bp-minimal) and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__button {
    text-transform: uppercase;
    color: $gray-2;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;

    @media only screen and (max-width: $bp-mega) {
      padding: 0.5rem 1rem;
    }

    @media only screen and (max-width: $bp-mega-semi) {
      padding: 0.5rem 3rem;
    }

    @media only screen and (max-width: $bp-minimal) {
      padding: 0.5rem 1rem;
      margin: 0rem 0.5rem;
    }

    &:last-child {
      background-color: $light-green-2;
      color: $white !important;
      border-radius: 0.2rem;

      &:hover {
        background-color: $dark-green-1;
      }
    }

    &--green {
      // border-radius: 0.2rem;
    }

    &:hover {
      color: $light-green-2;
    }
  }
}
