.home-page-footer {
  @include page-padding;

  @media only screen and (max-width: $bp-high) {
    padding: 4rem 5rem 7rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 4rem 2rem 7rem;
  }

  background-color: $dark-blue-1;
  color: $white;

  .bottom-border {
    @media only screen and (max-width: $bp-small) {
      //   border-top: 0.5px solid $dark-blue-2;
      border-bottom: 0.5px solid lighten($color: $dark-blue-2, $amount: 10%);
      padding: 1rem 0rem;
    }
  }

  .footer {
    &__small-text {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 6rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        padding-bottom: 2rem;
      }

      &-link {
        font-weight: 500;
        text-decoration-line: underline;
        margin: 0 0.5rem;
      }
    }

    &__links-area {
      display: flex;
      justify-content: space-around;
      margin-bottom: 4rem;

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        margin-bottom: 1rem;
        // align-items: center;
      }
    }

    &__links-company {
      .hidden {
        @media only screen and (max-width: $bp-small) {
          display: none;
        }
      }

      .show {
        @media only screen and (min-width: $bp-small) {
          display: none;
        }
      }
      @media only screen and (max-width: $bp-small) {
        margin-bottom: 1rem;
      }
      &-title {
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-small) {
          margin-bottom: 1rem;
          letter-spacing: 0.2rem;
          display: flex;
          justify-content: space-between;

          i {
            font-size: 1.8rem;
          }
        }
      }

      &-links {
        @media only screen and (max-width: $bp-small) {
          margin-top: 2rem;
        }
      }

      &-link {
        &,
        &:link,
        &:visited {
          margin-bottom: 1rem;
          color: $white;
          text-decoration: none;
          display: block;
          cursor: pointer;
        }

        &:hover {
          text-decoration-line: underline;
        }

        &:active,
        &:focus {
          outline: none;
        }
      }
    }

    &__social-links-area {
      border-top: 0.5px solid $dark-blue-2;
      border-bottom: 0.5px solid $dark-blue-2;
      padding: 1rem 0rem;

      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
      }

      @media only screen and (max-width: $bp-small) {
        border-top: none;
        border-bottom: none;
      }
    }

    &__social-links {
      display: flex;
      justify-content: space-between;
      //   align-items: center;

      @media only screen and (max-width: $bp-small) {
        margin-bottom: 2rem;
        justify-content: flex-start;
        flex-direction: column;
      }

      &-container {
        display: flex;
        @media only screen and (max-width: $bp-small) {
          display: flex;
          border-bottom: 0.5px solid lighten($color: $dark-blue-2, $amount: 10%);
          padding: 0 0 2rem 0rem;
        }
      }

      &-text {
        margin-right: 2rem;
        @media only screen and (max-width: $bp-small) {
          text-transform: uppercase;
          margin-right: 0;
          margin-bottom: 2rem;
          letter-spacing: 0.2rem;
        }
      }
    }

    &__social-link {
      &,
      &:link,
      &:visited {
        background-color: $dark-blue-3;
        color: $white;
        text-decoration: none;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin: 0 0.5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        background-color: lighten($color: $dark-blue-3, $amount: 5%);
      }

      &:active,
      &:focus {
        outline: none;
      }

      @media only screen and (max-width: $bp-small) {
        margin: 0 0.7rem;
      }
    }

    &__bottom {
      text-align: center;
      font-size: 1.4rem;
    }
  }
}
