.home-page-footer {
  @include page-padding;

  @media only screen and (max-width: $bp-high) {
    padding: 4rem 5rem 7rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 4rem 2rem 7rem;
  }

  background-color: $dark-blue-1;
  color: $white;

  .footer {
    &__small-text {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 6rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 1.6rem;
      }

      &-link {
        font-weight: 500;
        text-decoration-line: underline;
      }
    }

    &__links-area {
      display: flex;
      justify-content: space-around;
      margin-bottom: 4rem;

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        // align-items: center;
      }
    }

    &__links-company {
      @media only screen and (max-width: $bp-small) {
        margin-bottom: 3rem;
      }
      &-title {
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 2rem;
      }

      &-links {
      }

      &-link {
        margin-bottom: 1rem;
      }
    }

    &__social-links-area {
      border-top: 0.5px solid $dark-blue-2;
      border-bottom: 0.5px solid $dark-blue-2;

      display: flex;
      justify-content: space-between;
      padding: 1rem 0rem;
      margin-bottom: 3rem;

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
      }
    }

    &__social-links {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media only screen and (max-width: $bp-small) {
        margin-bottom: 2rem;
        justify-content: flex-start;
      }

      &-text {
        margin-right: 2rem;
      }
    }

    &__social-link {
      background-color: $dark-blue-3;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      margin: 0 0.5rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: lighten($color: $dark-blue-3, $amount: 5%);
      }
    }

    &__bottom {
      text-align: center;
      font-size: 1.4rem;
    }
  }
}
